<div class="header">
  <div>
    <table routerLink=''>
      <tbody>
        <tr>
          <td>
            <img src="assets/img/logo.jpg" class="logo">
          </td>
          <td class="text-logo">
            <p class="texter-logo"><b>Библиотека 1420</b></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="search">
    <form>
      <input type="text" placeholder="Поиск книг" id="myInput" class="searcher">
      <button id="myButton" type="button" class="search-button">Найти</button>
    </form>
    <br>
    <div id="myList" *ngFor='let book of books'>
      <div style="display: none;">{{book.name}}</div>
    </div>
  </div>
  <div class="userfield">
    <table class="loginman">
      <tbody>
        <tr id="unregistered" [routerLink]="[{ outlets: { log: ['login'] } }]">
          <td>
            <img src="assets/img/loginman.png" style="width: 3.31vh; height: 3.31vh; position: relative;">
          </td>
          <td>
            <p id="login">Войти</p>
          </td>
        </tr>
        <tr id="registered" class="unshown">
          <td>
            <img src="assets/img/loginman.png" id="loginmanreg" class="unshown" style="width: 3.31vh; height: 3.31vh; position: relative;">
            <img src="assets/img/loginwoman.png" id="loginwomanreg" class="unshown" style="width: 3.31vh; height: 3.31vh; position: relative;">
          </td>
          <td>
            <p id="logined" class="loginedname"></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
