.logo{
  width: 5vmin;
  height: 5vmin;
  padding: 6px;
}
.header{
  display: grid;
  grid-template-columns: 2fr 6fr 6fr;
  grid-template-rows: 6vh;
}
.searcher{
  border: 1px ridge black;
  border-radius: 20px 20px;
  padding-left: 1%;

  height: 3vh;
}
.search{
  padding-left: 13vw;
  padding-top: 1vh;
}
.search-button{
  position: relative;
  right: 1px;
  height: 3.155vh;
  width: 3vw;
  border: 1px ridge black;
  border-radius: 0 20px 20px 0;
  background-color: black;
  color: whitesmoke;
}
td{
  vertical-align: middle;
}
#myList{
  box-shadow: 1px 1px 30px #888888;
  width: 30vw;
  max-height: 60vh;
  overflow: hidden;
  background-color: white;
  position: absolute;
}
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
.loginman{
  position: relative;
  top: 0.75vh;
  left: 20vw;
}
.texter-logo{
  padding: 21px 0px;
  font-size: 1vw;
}
.unshown{
  display: none;
}
.loginedname{
  position: relative;
  left: 3px;
}
.lopa{
  display: none;
}
.search-form{
  display: grid;
  grid-template-columns: 80% 20%;
}
#loginmenu{
  position: relative;
  left: 20vw;
  top: 2vh;
  background-color: white;
  width: 8vw;
}
.loginednametd{
  vertical-align: middle;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
@media only screen and (min-width: 1200px){
  .texter-logo{
    font-size: 1vw;
  }
}
@media only screen and (max-width:1360px){
  .search-button{
    position: relative;
    right: 1px;
    height: 3.155vh;
    width: 3vw;
    border: 1px ridge black;
    border-radius: 0 20px 20px 0;
    background-color: black;
    color: whitesmoke;
    font-size: 50%;
  }
}
form{
  display: grid;
  grid-template-columns: 100%;
}
@media only screen and (max-width:800px){
  .lopa{
    display: block;
    filter: invert(1);
    height: 2vh;
    width: 2vh;
  }
  .find{
    display: none;
  }
}
