<div class="header">
  <div>
    <table routerLink=''>
      <tbody>
        <tr>
          <td>
            <img src="assets/img/logo.jpg" class="logo">
          </td>
          <td class="text-logo">
            <p class="texter-logo"><b>Библиотека 1420</b></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="search">
    <form class="serch-form">
      <input type="text" placeholder="Поиск книг" id="myInput" class="searcher" autocomplete="new-password">
      <button id="myButton" type="button" class="search-button"><p class="find">Найти</p><img src="assets/img/lopa.png" class="lopa"></button>
    </form>
    <br>
    <div id="myList" >
      <div style="display: none; padding: 5px; text-align: center;" *ngFor='let book of books'>{{book.name}}</div>
      <div style="display: none; padding: 5px; text-align: center;" *ngFor='let teachbook of teachbooks'>{{teachbook.author}} {{teachbook.subject}} {{teachbook.class}} класс</div>
    </div>
  </div>
  <div class="userfield">
    <table class="loginman">
      <tbody>
        <tr id="unregistered" class="unshown" [routerLink]="[{ outlets: { log: ['login'] } }]">
          <td>
            <img src="assets/img/loginman.png" style="width: 3.31vh; height: 3.31vh; position: relative;">
          </td>
          <td>
            <p id="login">Войти</p>
          </td>
        </tr>
        <tr id="registered" class="" (click)=loginmenu()>
          <td>
            <img src="assets/img/loginman.png" id="loginmanreg" class="unshown" style="width: 3.31vh; height: 3.31vh; position: relative;">
            <img src="assets/img/loginwoman.png" id="loginwomanreg" class="unshown" style="width: 3.31vh; height: 3.31vh; position: relative;">
          </td>
          <td>
          <p id="logined" class="loginedname">{{namer}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="loginmenu" class="unshown">
      <p (click)="Exit()">Выйти</p>
    </div>
  </div>
</div>
