{{registered}}
кек
<div class="container" *ngIf="registered">
  <div [hidden]="submitted">
    <h1>Регистрация</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" id="formaker">
      <table>
        <tr>
          <td>
            <div class="form-group">
              <label for="name">Имя</label><br>
              <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                #name="ngModel" pattern="^[А-ЯA-Z]{1}[а-яa-z]*$">
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Введите имя
              </div>
            </div>
          </td>
          <td class="logintext">
            Ваше имя должно начинаться с большой буквы и состоять из букв английского или русского языка и содержать в
            себе
            только буквы
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label for="alterEgo">Фамилия</label><br>
              <input type="text" class="form-control" id="secondname" [(ngModel)]="model.alterEgo" name="secondname"
                pattern="^[А-ЯA-Z]{1}[а-яa-z]*$" required>
            </div>
          </td>
          <td class="logintext">
            Ваша фамилия должна начинаться с большой буквы и состоять из букв английского или русского языка и содержать
            в
            себе только буквы
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label for="fathername">Отчество</label><br>
              <input type="text" class="form-control" id="fathername" [(ngModel)]="model.fathername" name="fathername"
                pattern="^[А-ЯA-Z]{1}[а-яa-z]*$" required>
            </div>
          </td>
          <td class="logintext">
            Ваше отчество должно начинаться с большой буквы и состоять из букв английского или русского языка и
            содержать
            в
            себе только буквы
          </td>
        </tr>
        <tr>
          <div class="form-group">
            <label for="power">Пол</label><br>
            <select class="form-control" id="gender" required [(ngModel)]="model.power" name="gender" #power="ngModel">
              <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
            </select>
            <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
              Выберете пол
            </div>
          </div>
        </tr>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      </table>
    </form>
  </div>
</div>
