<form id="form" name="form">
  <div class="former-first">
    <label for="name">Имя</label><br>
    <input id="name" type="text" name="name" maxlength="20" pattern="^[А-ЯA-Z]{1}[а-яa-z]*$" required><br>
  </div>
  <div class="former">
    <label for="secondname">Фамилия</label><br>
    <input id="secondname" type="text" name="secondname" maxlength="20" pattern="^[А-ЯA-Z]{1}[а-яa-z]*$" required><br>
  </div>
  <div class="former">
    <label for="email">email</label><br>
    <input id="email" type="email" name="email" maxlength="300" pattern="^.+@.+\..+$" required><br>
  </div>
  <div class="former">
    <label for="gender">Пол</label><br>
    <select name="gender" id="gender">
      <option disabled>Выберите пол</option>
      <option value="male">Мужчина</option>
      <option value="female">Женщина</option>
    </select><br>
  </div>
  <div class="former">
    <input type="submit" value="Зарегестрироваться">
  </div>
</form>
